.projectOverview {
    width: 1000px;
    margin: 100px 125px;
}

.projectFeatures {
    display: flex;
    gap: 8%;
    margin-bottom: 75px;
}

.projectTitle h2 {
    margin-left: 20px;
}

.projectImages {
    margin-top: 75px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.projectImages img {
    width: 800px;
}

.projectOverview p {
    font-size: 20px;
}

.projectOverview li {
    font-size: 20px;
}

.projectOverview h1 {
    font-size: 40px;
}

@media(max-width: 500px) {
    .projectFeatures {
        flex-direction: column;
    }

    .projectFeatures img {
        width: 350px;
        margin: auto;
    }

    .projectOverview {
        width: auto;
        margin: 50px 10px;
    }

    .projectImages img {
        width: 375px;
    }
}